@import url('https://fonts.cdnfonts.com/css/gotham-6');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

body {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    color: #1f306e;

}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 5rem;
    background-color: #517fa4;
    color: #dbbc90;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 600;
    margin: 20rem auto 0;
    transition: all 0.5s;
}

.start:hover {
    transform: scale(1.1);
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.main {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25vh auto;

}

.quiz-container {
    background-color: #e1e8ff;
    border-radius: 3rem;
    width: 60%;
    align-items: start;
    padding: 1.5rem;
    line-height: 3rem;
}



.ans {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 2.5rem;
    margin: 0.5rem auto;
    border: 1px solid #1f306e;
    border-radius: 2rem;
    background-color: #517fa4;
    transition: all 0.3s;
}

.ans:hover:not([disabled]) {
    background-color: #e6b980;
}

.ans:disabled {
    cursor: no-drop;
}

.button-Div {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.next {
    display: none;
    justify-content: center;
    align-items: center;
}

.restart {
    display: none;
    justify-content: center;
    align-items: center;
}

.button-Div button {

    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    color: #1f306e;
    border: none;
    width: 10rem;
    height: 2.5rem;
    margin: 1rem 5rem;
    border-radius: 1rem;
    font-size: larger;
    cursor: pointer;
    transition: all 0.3s;
}

.correct {
    background-color: rgb(115, 207, 149);
}

.wrong {
    background-color: #b64871;
    color: #e1e8ff;
}

.back:hover,
.next:hover {
    background-image: linear-gradient(to top, #ae9677 0%, #dbbc90 100%);
    transform: scale(1.1);
}